.cel {
	float: left;
	height: 100px;
	width: 100px;
	background: gray;
	border: solid black 1px;
	border-radius: 10px;
}

.row {
	clear: both;
}


img {
	height: 100px;
	width: 100px;
}
.checker {
	height: 100px;
	width: 100px;
}



#content {
	text-align: center;
}

#gameBoard {
	padding: 30px;
	background: pink;
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: solid gray 2px;
}



#messageBoard {
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding: 10px;
	background: green;
	color: white;
	border: solid green ;
	border-radius: 10px;
	border: solid black 2px;
	
}



.checker.ui-draggable-dragging { opacity: 0.7; }

.hovered {
	background: #92aedb;
}


